@charset "utf-8";

* {margin: 0; box-sizing: border-box;}
ul,ol,li {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none;}

.main_color {color: #ef544d; display: inline-block;}

.more_view a {font-size: 12px; color: #666; letter-spacing: -1px;}
.more_view:hover a {text-decoration: underline;}
.smallArrow {padding-left: 3px; font-size: 13px;}




#wrap {width: auto; height: auto; margin: 0 auto;}

header {width: 100%; height: 170px; background: none; display: flex; flex-direction: column; align-items: center; font-family: 'Nanum Gothic', sans-serif; position: relative; z-index: 3;}

/* header 상단 영역 */


#header_top {width: 100%; height: 20%; background-color: none; border: 1px solid #ccc; border-top: none; border-left: none; border-right: none; letter-spacing: -1px;}
#header_top > .header_top_nav {width: 1150px; display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto; height: 100%;}
#header_top > .header_top_nav > .header_top_left {width: 50%; display: flex; flex-direction: row;}
#header_top > .header_top_nav > .header_top_left > li {padding:10px 10px 0 0; font-size: 14px; letter-spacing: -1px; border: 1px solid #ccc; border-top: none; border-bottom: none; border-left: none;}
#header_top > .header_top_nav > .header_top_left > li:first-child {border: 1px solid #ccc; border-top: none; border-bottom: none; padding-left: 10px;}
#header_top > .header_top_nav > .header_top_left > li:last-child {border-right:  none;}
#header_top > .header_top_nav > .header_top_left > li:not(:first-child) {padding: 10px 10px;}
#header_top > .header_top_nav > .header_top_left > li a {color: #333;}

#header_top > .header_top_nav > .header_top_right {width: 50%; display: flex; flex-direction: row;  justify-content: flex-end;}
#header_top > .header_top_nav > .header_top_right li:first-child:hover {cursor: pointer; color: #ef544d;}
#header_top > .header_top_nav > .header_top_right > li {padding: 10px 10px 0 0; font-size: 12px;}
#header_top > .header_top_nav > .header_top_right i {margin: 0 0 0 2.5px;}
#header_top > .header_top_nav > .header_top_right > .mypage {position: relative;}
#header_top > .header_top_nav > .header_top_right > .mypage i:last-of-type {display: none;}

/* 마이페이지 mouseenter 되면 내려오는 메뉴 */

#header_top > .header_top_nav > .header_top_right > .mypage .mypage_detail {width: 100px; height: 100px; padding:5px 10px; border: 2px solid #ef544d; display: none; font-size: 12px; position: absolute; line-height: 18px; background: #fff; z-index: 1;} 
.mypage_detail span {margin-right: 5px; font-weight: bold;} 
#header_top > .header_top_nav > .header_top_right > li a {color: #555;}
#header_top > .header_top_nav > .header_top_right > li a:hover {color: #ef544d;}


/* header 가운대 영역 */


#header_mid {width: 1150px; height: 55%; background-color: transparent; display: flex; flex-direction: row; align-items: center;}
#header_mid #logo {width: 40%; }
#header_mid #logo img {width: 192px; height: 100%;}

#header_mid > #header_search {width: 55%; display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-end; height: 50%;}
#header_mid > #header_search > .header_search_bar { width: 400px; border-bottom: 2.5px solid #ef544d; display: flex; justify-content: space-between;}
.header_search_bar .search_bar_text {border: none; width: 350px; font-size: 14px; font-weight: bold; padding: 5px; background: transparent; border: none;}
.header_search_bar i {color: #ef544d; background: transparent; padding-right: 10px; font-size: 22px;}




/* header 하단 영역 */



#header_bot {width: 100%; height: 25%; background-color: #ef544d; display: flex; flex-direction: row; border-bottom: 1px solid #d74b45; border-top: 1px solid #d73c35; position: relative;}

#header_bot > .header_bot_nav {width: 1150px; display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto;  display: flex; align-items: center; position: relative;}
#header_bot > .header_bot_nav > .all_category {width: 20%; border-right: 2px solid #ef544d; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: #d73c35; position: relative;}

/* 전체 카테고리 */

#header_bot > .header_bot_nav > .all_category:hover {background-color: #850000; cursor: pointer;}
#header_bot > .header_bot_nav > .all_category li a {color: #fff; padding: 0 10px; } 
#header_bot > .header_bot_nav > .all_category:hover li a {color: #fff1a2;}
#header_bot > .header_bot_nav > .all_category li a .all_category_span {padding: 0 5px;} /* awsomefont padding 값 제어 */
#header_bot > .header_bot_nav > .all_category li a i:not(:first-child) {position: absolute;}
#header_bot > .header_bot_nav > .all_category li a i:last-child {display: none;}


/* 하단 nav 중간 (베스트셀러 ...) */

#header_bot > .header_bot_nav > .header_event {width: 35%; display: flex; flex-direction: row; justify-content: flex-end;}
#header_bot > .header_bot_nav > .header_event > li {padding: 0 15px;}
#header_bot > .header_bot_nav > .header_event > li:not(:last-child) a {color: #fff;}
#header_bot > .header_bot_nav > .header_event > li:not(:last-child) a:hover {color:#fff1a2;}
.header_event_last {position: relative; display: flex; align-items: center;}
.header_event_last > a {color: #fff;}
.header_event_last > a:hover {color: #fff1a2;}
.event_dropdown {  display: none; position: absolute; top: 18px; left: 10px; z-index: 1; height: 85px; background-color: #fff; border: 2px solid #d74b45; box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.17); padding: 5px 5px; font-size: 12px; line-height: 18px; width: 80px;}
.event_dropdown span {margin-right: 5px; font-weight: bold;}
.event_dropdown > li > a {color: #333;}
.event_dropdown > li > a:hover {color: #ef544d;}

/* 하단 nav 우측 */

#header_bot > .header_bot_nav > .header_production {width: 50%; display: flex; flex-direction: row; justify-content: flex-end;}
#header_bot > .header_bot_nav > .header_production > li {padding: 0 5px 0 30px;}
#header_bot > .header_bot_nav > .header_production > li:first-child {border-left: 1px solid #ddd; padding-left: 50px;}
#header_bot > .header_bot_nav > .header_production > li a {color:#fff1a2;}
#header_bot > .header_bot_nav > .header_production > li a:hover {color: yellow;}



/* header 드롭 다운 네비게이션 */

.header_bot_nav > .nav_slide {width: 1150px; height: 750px; background: #fff; position: absolute; z-index: 1000; left: 0; top: 100%; margin: 0 auto; border-top: 1px solid #ccc; letter-spacing: -1px; border: 2px solid #d74b45; display: none;}
.nav_slide ul {width: 100%; height: 93%; background: #fff; display: flex; justify-content: space-between; font-size: 13px; line-height: 20px; border-bottom: 1px solid #000; position: relative; z-index: 1000;}
.nav_slide ul li dl dt {font-size: 13px; font-weight: bold; padding-bottom: 10px;}
.nav_slide ul li dl dd a {color: #666;}
.nav_slide ul li dl dd a:hover {text-decoration: underline; color: #222;}
.nav_slide ul li dl dd a:hover span {text-decoration: underline;}

/* 네비게이션 flex, border padding 제어 */

.korean_books1 {width: 15%; height: 100%; background: transparent; display: flex; justify-content: center;padding-top: 15px;}
.korean_books2 {width: 15%; height: 100%; border-right: 1px solid #ccc; padding-top: 15px; display: flex; justify-content: center;}
.foregin_books {width: 15%; height: 100%; border-right: 1px solid #ccc; padding-top: 15px; display: flex; justify-content: center;} 
.internet_books {width: 15%; height: 100%; border-right: 1px solid #ccc; padding-top: 15px; display: flex; justify-content: center;}
.header_resell_books {width: 15%; height: 100%; padding-top: 15px; display: flex; justify-content: center;}
.music_list {width: 25%; height: 100%;}
.music_list ul {width: 100%; height: 100%; display: flex; flex-direction: column; border-left: 1px solid #ccc; border-bottom: none;}
.music_list ul li {width: 100%; height: 100%; padding-left: 30px; table-layout: fixed;  padding-top: 15px; }
.music_list ul li .music_list_left {float: left; width: 50%;}
.music_list ul li .music_list_right {float: right; width: 50%;}
.music_list ul li:not(:first-child) {padding-top: 15px; display: flex; justify-content: space-between;}                /* 첫번째 음반 제외하고 padding top */
.music_list ul li:not(:last-child) {border-bottom: 1px solid #ccc;}

.xBtn { float: right;
    display: inline-block;
    margin: 10px 15px;
    font-size: 28px;
    color: #666;
    cursor: pointer;}



/* nav color1 : #d73c35; nav color2:  #ef544d;  category color: #fff1a2; */


/* footer start */

footer {width: 100%; height: 550px; margin-top: 60px;} 



footer > .footer_service {width: 1150px; height: 45%; background-color: transparent; margin: 0 auto;}

.footer_service_title {width: 100%; height: 10%; background: transparent; border-bottom: 1px solid #000;}
.footer_service_title h2 {float: left; font-size: 20px; color: #222; letter-spacing: -1px;}

.footer_service_title .notice_list {float: right; display: flex; width: 305px;}
.footer_service_title .notice_list h6 {font-size: 14px;}
.footer_service_title .notice_list p a {font-size: 12px; color: #999; letter-spacing: -1px; margin-left: 20px;}
.footer_service_title .notice_list p a:hover {color: #222;}


.footer_service_list {width: 100%; height: 90%; background: transparent; display: flex; justify-content: space-between; padding-top: 15px; letter-spacing: -1px;}

.footer_service_list ul li:first-child {font-weight: bold;}


.frugalPurchase {width: 20%; height: 100%;}
.frugalPurchase ul li {font-size: 15px; line-height: 22px;}
.frugalPurchase ul li a {font-size: 11px; color: #999;}
.frugalPurchase ul li a:hover {color: #222;}

.coreService {width: 20%; height: 100%;}
.coreService ul li {font-size: 15px; line-height: 22px; }
.coreService ul li img {padding-right: 5px; transition: all ease 1s;}


.coreService ul li:last-child img:last-child {padding-left: 5px; padding-top: 5px;}
.coreService ul li a {font-size: 11px; color: #999;}
.coreService ul li a:hover {color: #222;}

.delivery {width: 20%; height: 100%;}
.delivery ul li {font-size: 15px; line-height: 22px;}
.delivery ul li a {font-size: 11px; color: #999;}
.delivery ul li a:hover {color: #222;}

.customerCenter {width: 20%; height: 100%;}
.customerCenter ul li {font-size: 15px; line-height: 22px;}
.customerCenter ul li a {font-size: 11px; color: #666;}
.customerCenterBox {display: flex; width: 70%; height: 40%; background: transparent; font-size: 12px; justify-content: space-between; margin: 5px 0; padding-bottom: 15px;}



.bookService {width: 20%; height: 100%;}
.bookService ul li {font-size: 15px;display: flex; flex-wrap: wrap;}
.bookService ul li > h6 {margin-right: 8px;}
.bookService ul li > span {color: #ccc;}
.bookService ul li > p {margin-left: 8px;}
.bookService ul li:nth-of-type(2) {margin: 15px 0;}
.bookService ul li a {font-size: 11px;}

.bookServiceInfoBox > p {font-size: 12px; line-height: 10px;}
.bookServiceInfoBox > span {display: inline-block; color: #999; font-size: 10px; line-height: 25px; }

/* footer width 100% 바 */

footer > .footer_full {width: 100%; height: 10%; background-color: #58cfc7;}

.footer_full_container {width: 1150px; height: 100%; display: flex; justify-content: space-between; margin: 0 auto; align-items: center;}
.footer_full_left {width: 50%; height: 100%; border-right: 1px solid #ddd; padding-left: 60px; display: flex; align-items: center;}
.footer_full_left h4 {font-size: 17px; color: #fff; font-weight: normal;}
.footer_full_left h4 span {color: #fff5b1; font-weight: bold;}
.footer_full_right {width: 50%; height: 100%; display: flex; justify-content: flex-end; padding-right: 80px; align-items: center;}
.footer_full_right h4 {font-size: 17px; color: #fff; font-weight: normal;}
.footer_full_right h4 span {color: #fff5b1; font-weight: bold;}


/* footer 개인정보 약관, 저작관 등등 ... */

footer > .footer_info {width: 1150px; height: 45%; margin: 0 auto;}

.footer_info_top {width: 100%; height: 20%; background: transparent; display: flex; align-items: center;}
.footer_info_top > ul {width: 100%; display: flex; justify-content: space-between; font-size: 12px; cursor: pointer;}
.footer_info_top > ul > li {color: #999;}
.footer_info_top > ul > li:first-of-type {border: 1px solid #e9e9e9;
    width: 130px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5px;
    color: #636363;
    position: relative;
    text-align: center;
    top: -2px;
}

.footer_info_top > ul > li:nth-of-type(2) a {color: #000; font-weight: bold;}
.footer_info_top > ul > li a {color: #999;}
.footer_info_top > ul > li a:hover {color: #222;}

.footer_info_top_select {width: 100%; position: relative;}
.footer_info_top_select_list {width: 100%; position: absolute; background-color: #fff; top: 100%; right: 0; z-index: 10; line-height: 20px; font-size: 12px; margin-top: 1px; border: 1px solid #ccc; padding-left: 5px; text-align: left; display: none;}

.footer_info_top_select_list a:hover {text-decoration: underline;}




.footer_info_bot {width: 100%; height:35%; background: transparent; display: flex; justify-content: space-between;}
.cinfo1 {width: 33.3%;}
.cinfo1 dt {font-size: 12px; line-height: 25px; padding-bottom: 5px;}
.cinfo1 dd {font-size: 11px; letter-spacing: -1px; color: #999; line-height: 15px;}

.cinfo2 {width: 33.3%; border-left: 1px solid #ddd; padding-left: 20px;}
.cinfo2 dt {font-size: 12px; line-height: 25px; padding-bottom: 5px;}
.cinfo2 dt a {font-size: 12px; padding-left: 5px; color: #999;}
.cinfo2 dt a:hover {text-decoration: underline;}
.cinfo2 dd {font-size: 11px; letter-spacing: -1px; color: #999; line-height: 15px;}
.cinfo2 dd a {color: #999;}
.cinfo2 dd a:hover{text-decoration: underline;}

.cinfo3 {width: 33.3%; border-left: 1px solid #ddd; padding-left: 20px;}
.cinfo3 dt {font-size: 12px; line-height: 25px; padding-bottom: 5px;}
.cinfo3 dd {font-size: 11px; letter-spacing: -1px; color: #999; line-height: 15px;}
.cinfo3 dd > a {display: inline-block; margin: 5px auto; color: #999;}
.cinfo3 dd > a:hover {text-decoration: underline;}


.footer_copyright {width: 100%; height: 45%; background: transparent; padding-top: 30px;}

.footer_copyright p {font-size: 12px; letter-spacing: -1px; font-weight: bold; line-height: 20px;}
.footer_copyright span {display: inline-block; font-size: 12px; letter-spacing: -1px; color: #999;}



/* 우측 고정된 로그인 박스 */

#fixed_login {width: 120px; height: 100vh; position: fixed; z-index: 10000; top: 0; right: -115px; border: 1px solid #c3c3c3; letter-spacing: -0.5px; background: #fff;}

.fixed_login_box:first-child {padding: 10px 0; background-color: #ef554d; display: flex; justify-content: center; flex-direction: column; align-items: center; color: #fff;}
.fixed_login_box:first-child h2 {font-size: 24px; line-height: 45px;}
.fixed_login_box:first-child h6 {font-size: 12px; font-weight: normal; line-height: 20px;}
.fixed_login_box:first-child button {margin-top: 15px; width: 80%; background-color: #be3834; border: 1px solid #af322e; color: #fff; cursor: pointer;}

.fixed_login_box:nth-child(2n) {padding: 10px 5px; font-size: 11px; font-weight: bold; display: flex; justify-content: space-between; color: #5c5c5c; border-top: 1px solid #c3c3c3; cursor: pointer;}
.fixed_login_box:nth-child(3) {padding: 10px 5px; font-size: 11px; font-weight: bold; display: flex; justify-content: space-between; color: #5c5c5c; border-top: 1px solid #c3c3c3; cursor: pointer;}
.fixed_login_box:nth-child(4) {border-bottom: 1px solid #c3c3c3; cursor: pointer;}
.fixed_login_box:nth-child(2n) i {padding-right: 10px;}
.fixed_login_box:nth-child(3) i {padding-right: 10px;}

/* 약관 보기 */

.fixed_login_box:nth-child(5) {padding: 10px 5px; height: 720px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; font-size: 12px;}
.fixed_login_box:nth-child(5) > p {padding-top: 10px; width: 100%; text-align: center;}
.fixed_login_box:nth-child(5) > p:first-of-type {border-top: 1px solid #c3c3c3; width: 120px;}
.fixed_login_box:nth-child(5) > p a {color: #999;}
.fixed_login_box:nth-child(5) > p a:hover {color: #222; text-decoration: underline;}

.fixed_login_open_close {position: absolute; left: -25px; top: 45%; background: skyblue; width: 25px; height: 60px; right: 120px; border: 1px solid #c3c3c3; border-right: none; background-color: #fff; z-index: 1001; color: #999; font-weight: lighter; cursor: pointer;}
.fixed_login_open_close .open_button {display: inline-block; font-size: 30px; position: absolute; top: 18%; padding-left: 1px;}
.fixed_login_open_close .close_button {display: inline-block; font-size: 30px; position: absolute; display: none; top: 18%; padding-left: 1px;}


/* 상단으로 이동되는 버튼 topBtn */

.top_button {width: 50px; position: fixed; background-color: #ffffff; bottom: 50px; right: 150px; z-index: 100; display: none; margin:0; padding: 5px; text-align: center; border:1px solid #c3c3c3; cursor: pointer;}
.top_button i {color: #ef544d;}
.top_button p {color: #555; letter-spacing: -1px;}