	@charset "utf-8";

	* {margin: 0; box-sizing: border-box;}
	ul,ol,li {list-style: none; margin: 0; padding: 0;}
	a {text-decoration: none;}


	.main_color {color: #ef544d; display: inline-block;}
	.sub_color {color: #509ece; display: inline-block;}
	.normal_font {color: #333; font-weight: normal; display: inline-block;}


	.more_view a {font-size: 12px; color: #666; letter-spacing: -1px;}
	.more_view:hover a {text-decoration: underline;}
	.smallArrow {padding-left: 3px; font-size: 13px;}
	.redBtn {font-size: 11px; line-height: 15px; text-align: center; background: transparent; border: 1px solid #ef544d; border-radius: 15px; position: relative; bottom: 2px;}
	.blueBtn {font-size: 11px; line-height: 15px; text-align: center; background: transparent; border: 1px solid #509ece; margin-left: 5px; border-radius: 15px; position: relative; bottom: 2px;}




	#wrap {width: auto; height: auto; margin: 0 auto;}


	#subContainer {width: 100%; height: auto; position: relative; margin: 0 auto;}

	#fullbg {position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 610px;
	z-index: 1;
	margin: 0 auto;
	}

	#fullbg > span {    background-image: url(img/sub/book_bg_img.jpg);
	background-repeat: no-repeat;
	background-position: top center; 
	display: inline-block;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0 auto;}

	#sellBookWrap {width: 1150px; height: auto; margin: 0 auto; position: relative; z-index: 1;}

	/* sub selling page main contents css 
	서브 컨텐츠 항목 구매 및 정보 영역 css*/

	.sellBook {width: 100%; height: 1000px; background: transparent; margin: 0 auto; display: flex; flex-direction: column; position: relative; z-index: 2;}


	/* 도서 경로 */
	.sellBookLink {width: 100%; height: 5%; border-bottom: 1px solid #ccc;}
	.sellBookLink ul {width: 100%; height: 100%; display: flex; align-items: center; letter-spacing: -1px;}
	.sellBookLink ul li {font-size: 12px; margin-right: 10px; color: #444; cursor: pointer;}
	.sellBookLink ul li i {padding-left: 3px; font-weight: bold;}
	.sellBookLink ul li a {color: #444;}

	/*도서 타이틀 */

	.sellBookTitle {width: 100%; height: 10%; background: transparent; border-bottom: 1px solid #555; display: flex; justify-content: space-between; font-family: 'Nanum Gothic', sans-serif;}

	.sellBookTitleimg {display: flex; align-items: center; position: relative; overflow: hidden; height: 100%;}
	.sellBookTitleimg img {width: 70px; height: 65px;}
	.sellBookTitleimg h4 {font-size: 22px;}
	.sellBookTitleimg h4 span {font-size: 16px; font-weight: normal;}
	.sellBookTitleimg p {font-size: 12px; position: absolute; top: 70%; left: 15%; color: #999;}

	.sellBookTitleRating {display: flex; align-items: center;}
	.sellBookTitleRating span {display: inline-block; font-size: 15px; padding: 0 5px; color: #222;}
	.sellBookTitleRating span a {color: #333;}
	.sellBookTitleRating span a:hover {color: #111;}
	.sellBookTitleRating i {color: #d73c35;}

	/* 메인 북 컨텐츠 왼쪽 */

	.sellBookContents {width: 100%; height: 70%; background: #fff; display: flex; justify-content: space-between; padding: 30px 0; position: relative; z-index: 1;}

	/* 도서 이미지와 정보 */

	.sellBookContentsLeft {width: 23%; height: 100%; background: transparent; display: flex; flex-direction: column; justify-content: space-between;}
	.sellBookContentsLeftImg {width: 100%; height: 55%; background: transparent; display: flex; justify-content: center;}
	.sellBookContentsLeftImg img {width: 230px; height: 340px; box-shadow: 4px 4px 4px #ddd;}
	.sellBookContentsLeftInfo {width: 100%; height: 55%; background: transparent; text-align: center;}

	/* 크게보기, 미리보기 */

	.BookDetailLook {width: 100%; display: flex; justify-content: center; margin: 40px 0; line-height: 40px; border: 1px solid #ccc; background: #eee;}
	.BookDetailLook p {width: 50%; height: 100%; border-right: 1px solid #ccc; font-size: 14px; cursor: pointer;}
	.BookDetailLook p:last-child {border: none;}
	.BookDetailLook p i {padding: 0 5px; font-size: 14px; color: #666;}

	.sellBookContentsLeftInfo ul {width: 100%; height: 70%; background: transparent; margin-top: 0px;}
	.sellBookContentsLeftInfo ul li {width: 100%; height: 21%; padding: 10px 0; margin: 12px 0; border: 1px solid #000; background: #eee; font-size: 14px; border: 1px solid #ccc; color: #666;}
	.sellBookContentsLeftInfo ul li:first-child {display: flex; justify-content: space-evenly; align-items: center;}
	.sellBookContentsLeftInfo ul li a {color: #666;}
	.sellBookContentsLeftInfo ul li span:nth-child(2) {color: #ccc;}
	.sellBookContentsLeftInfo ul li img {padding: 0 5px;}
	.sellBookContentsLeftInfo ul li a i {padding: 0 5px; font-size: 20px; position: relative; top: 2.5px;}
	.sellBookContentsLeftInfo ul li a:first-child i {color: #3b5998;}
	.sellBookContentsLeftInfo ul li a:last-child i {color: #00acee;}




	/* 메인 북 컨텐츠 오른쪽 */

	.sellBookContentsRight {width: 75%; height: 100%; background: transparent; display: flex; flex-direction: column;}

	/* 저자,출판사, 발행일자 etc ..*/

	.sellBookContentsRightInfo {width: 100%; height: 12%; background: transparent; border-bottom: 1px solid #ccc; font-family: 'Nanum Gothic', sans-serif;}
	.sellBookContentsRightInfo ul {display: flex; font-size: 12px; margin-top: 20px;}
	.sellBookContentsRightInfo ul li:not(:first-child) {padding-left: 10px;}
	.sellBookContentsRightInfo ul li a {color: #666;}

	/* 도서 가격 */

	.sellBookContentsRightPrice {width: 100%; height: 15%; background: transparent; position: relative;}
	.RightPriceText {width: 25%; height: 20%; display: flex; flex-direction: row; justify-content: center; padding-top: 15px;}
	.RightPriceText p {font-size: 13px; width: 60px; color: #333;}
	.RightPriceText p:first-child {font-weight: bold; width: 40px;}
	.RightPriceRedBox {width: 25%; height: 70%; border: 1px solid #ef544d; border-top: 2px solid #ef544d; display: flex; flex-direction: column; justify-content: center; margin-top: 25px;}
	.RightPriceRedBox a h4 {color: #333; font-size: 16px; padding-left: 10px;}
	.RightPriceRedBox h5 {font-size: 16px; color: #ef544d; padding-left: 10px;}
	.RightPriceRedBox span {color: #333; font-size: 13px; display: inline-block; padding-left: 10px;}
	.RightPriceRedBox:last-child {float: right; position: absolute; top: 20%; right: 48%;  border: 1px solid #888; border-top: 2px solid #888; margin-top: 25px;}
	.RightPriceRedBox:last-child a h4 {color: #333; font-size: 16px; padding-left: 10px;}
	.RightPriceRedBox:last-child h5 {font-size: 16px; color: #333; padding-left: 10px;}
	.RightPriceRedBox:last-child span {color: #333; font-size: 13px; display: inline-block; padding-left: 10px;}
	.RightPriceRedBox:last-child:hover {border: 1px solid #444; border-top: 2px solid #444;}

	/* 할인-적립 혜택 배송정보 */

	.sellBookContentsRightPromo {width: 100%; height: 60%; background: transparent; display: flex; flex-direction: column; justify-content: space-between; padding: 40px 0;}
	.sellBookContentsRightPromo ul {display: flex; flex-direction: row; flex-wrap: wrap;}
	.sellBookContentsRightPromo ul li:first-child {font-weight: bold; font-size: 13px; padding-right: 20px;}
	.sellBookContentsRightPromo ul li:not(:first-child) {font-size: 13px; padding: 0 5px;}
	.sellBookContentsRightPromo ul li a {color:#509ece; cursor: pointer;}


	.thisMonthPromo {width: 100%; height: 40px; background: skyblue; display: flex; justify-content: center; align-items: center; background: #58cfc7; font-weight: lighter; letter-spacing: 1px;}

	a .thisMonthPromo li p {color: #fff; font-size: 16px;}
	a .thisMonthPromo li span {color: #fff5b1; font-weight: bold; display: inline-block; font-size: 16px;}

	/*북카트,장바구니 버튼 */

	.sellBookContentsRightButton {width: 100%; height: 12%; background: transparent; display: flex;}
	.sellBookContentsRightButton button {margin-right: 10px; cursor: pointer;}
	.sellBookContentsRightButton button:first-child {width: 150px; height: 80%; background: #999; border: none;} 
	.sellBookContentsRightButton button:first-child a {color: #fff; font-size: 16px; font-weight: bold; letter-spacing: -1px;}

	.sellBookContentsRightButton button:nth-child(2) {width: 150px; height: 80%; background: #ef544d; border: none;}
	.sellBookContentsRightButton button:nth-child(2) a {color: #fff; width: 100%; height: 100%; font-size: 16px; font-weight: bold; letter-spacing: -1px;}

	.sellBookContentsRightButton button:nth-child(3) {width: 150px; height: 80%; background: #fff; border: 1px solid #ccc;}
	.sellBookContentsRightButton button:nth-child(3) a {color: #666; width: 100%; height: 100%; font-size: 16px; font-weight: bold; letter-spacing: -1px;}
	.sellBookContentsRightButton button:last-child {width: 50px; height: 80%; font-size: 20px; background: #fff; border: 1px solid #ccc; color: #ccc; }
	.sellBookContentsRightButton button:last-child i {transition: all 300ms ease; border: none}

	.sellBookContentsRightButton button:last-child i:hover {color: #ef544d;}

	/* 사은품,이벤트 slide */

	.sellBookBanner {width: 100%; height: 15%; background: transparent; display: flex; border: 1px solid #999;}
	.sellBookBannerIndex {width: 20%; height: 100%; background: #eee; display: flex; flex-direction: column; justify-content: space-between;}
	.sellBookBannerIndex p {width: 100%; border-bottom: 1px solid #ccc; padding-bottom: 15px; padding-top: 10px; padding-left: 30px; color: #999;}
	.sellBookBannerIndex p:last-child {border-bottom: none;}
	.sellBookBannerIndex p:first-child {color: #222; cursor: pointer; color: #509ece; font-weight: bold;}

	.sellBookBannerSlide {width: 80%; height: 100%; background: transparent; position: relative; display: flex; overflow: hidden; z-index: 0;}


	/* 사은품,이벤트 버튼 */


	.sellBookBannerSlide .fprev { position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 38px;
	color: #c8c8c8;
	font-weight: lighter;
	cursor: pointer;
	left:0; 
	border-radius: 0 10px 10px 0px; 
	padding: 50px 10px;
	z-index: 1;
	display: inline-block;
	background-color: #fff;
	height: 150px;

	}

	.sellBookBannerSlide .fnext {   position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 38px;
	color: #c8c8c8;
	font-weight: lighter;
	cursor: pointer;
	right: 0; 
	border-radius: 10px 0 0 10px; 
	padding:50px 10px;
	z-index: 1;
	display: inline-block;
	background-color: #fff;
	height: 150px;
	}

	.subBannerSlide {width: 1900px; 
	height: 100%; 
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	overflow: hidden;
	margin: 0 auto;
	top: 0;
	left: 0;
	}



	/* 이벤트 슬라이드 */


	.subBannerSlide > li > .subBannerSlideBox {width: 200px;
	height: 100%; 
	display: flex;
	flex-direction: column;
	background: #eee;
	margin: 0 50px;
	height: auto;


	}

	.subBannerSlideBox  .subBannerSlideBoxImg {width: 190px;
	height: 60px; 
	background: violet;
	margin-right: 10px;
	} 

	.subBannerSlideBox  .subBannerSlideBoxImg img {width: 190px; 
	height: 100%;
	box-shadow: 4px 4px 4px #eee;
	}

	.subBannerSlideBox  .subBannerSlideBoxText {width: 190px; 
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
	}

	.subBannerSlideBox .subBannerSlideBoxText a p {font-size: 12px; letter-spacing: 0px; background: transparent; color: #666; text-align: center;}


	/* sellBook 종료 후 컨텐츠 */


	#subContents {width: 1150px; height: auto; background: transparent; margin: 60px auto;}
	.subBookInfo {width: 100%; height: auto; background: transparent;}


	/* 이 상품의 분류 */


	.subBookClass {width: 100%; height: 150px; background: transparent;}
	.subBookClassTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.subBookClassTitle h3 {font-size: 20px;}
	.subBookClassList ul {width: 100%; height: 100%; display: flex; padding: 20px 15px 0 15px; list-style: disc;}
	.subBookClassList ul li {font-size: 14px;}
	.subBookClassList ul li:hover {text-decoration: underline;}
	.subBookClassList ul li:last-of-type {font-weight: bold;}
	.subBookClassList ul li a {color: #444;}
	.subBookClassList ul li i {padding: 0 5px; font-size: 12px;}




	/* 라이브북 */

	.subBookInfoBox {color: #444;}
	.subBookInfoBox:first-child {width: 100%; height: 600px; background: transparent; margin-top: 40px;}
	.liveBookTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.liveBookTitle h3 {font-size: 20px;}

	.liveBookImg {width: 100%; height: 100%; display: flex; justify-content: space-between;}
	.liveBookSlide {width: 60%; height: 100%; background: transparent; position: relative; overflow: hidden; z-index: 0;}



	.liveBookSlide .fprev { position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 75px;
	color: #c8c8c8;
	font-weight: lighter;
	cursor: pointer;
	left:0; 
	border-radius: 0 10px 10px 0px; 
	padding: 250px 10px;
	z-index: 1;
	display: inline-block;
	background-color: #fff;
	height: 95%;

	}

	.liveBookSlide .fnext {   position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 75px;
	color: #c8c8c8;
	font-weight: lighter;
	cursor: pointer;
	right: 0; 
	border-radius: 10px 0 0 10px; 
	padding:250px 10px;
	z-index: 1;
	right: 0%;
	display: inline-block;
	align-items: center; background-color: #fff;
	height: 95%;
	}

	.liveBookSlideList {width: 4300px; height: 100%; background: transparent; display: flex; align-items: center; position: relative; float: left;}

	.liveBookSlideList li {padding: 0 160px;}

	.liveBookSlideList li img {width: 374px; height: 328px;}

	.liveBookModal {width: 35%; height: 100%; background: transparent; display: flex; align-items: center;}
	.liveBookModalInner {background: transparent; width: 100%; height: 328px;}
	.liveBookModalList {width: 100%; height: 33.3%; display: flex; flex-direction: row; justify-content: center;}

	.liveBookModalList li img {width: 100%; height: 100%; cursor: pointer; padding: 5px;}





	/* 출판사 서평 */

	.subBookInfoBox:nth-child(2) {width: 100%; height: 1100px; background: transparent; margin-top: 40px; letter-spacing: -1px;}
	.subBookInfoBox:nth-child(2) span {display: inline-block; font-size: 13px; margin-top: 5px; float: right; padding-right: 25px;}
	.subBookInfoBox:nth-child(2) span a {color: #666;}
	.subBookInfoBox:nth-child(2) span i {padding: 0 5px; color: #ef544d;}
	.subBookInfoBox:nth-child(2) span:last-child {display: none;}
	.publisherTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; }
	.publisherTitle h3 {font-size: 20px;  font-family: 'Nanum Gothic', sans-serif;}

	.publisherText {width: 100%; padding-left: 15px; line-height: 25px; font-size:14px; padding-top: 20px;}
	/* 추천사 */

	.subBookInfoBox:nth-child(3) {width: 100%; height: 320px; background: transparent; margin-top: 40px;}
	.subBookInfoBox:nth-child(3) span {display: inline-block; font-size: 13px; margin-top: 10px; float: right; padding-right: 25px;}
	.subBookInfoBox:nth-child(3) span a {color: #666;}
	.subBookInfoBox:nth-child(3) span i {padding: 0 5px; color: #ef544d;}
	.subBookInfoBox:nth-child(3) span:last-child {display: none;}
	.anotehrWirtesTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.anotehrWirtesTitle h3 {font-size: 20px;  font-family: 'Nanum Gothic', sans-serif;}

	.anotehrWirtesText {width: 100%; padding-left: 15px; line-height: 37px; font-size:14px; padding-top: 20px; letter-spacing: -1.1px;}

	/* 목차 */

	.subBookInfoBox:nth-child(4) {width: 100%; height: 250px; background: transparent; margin-top: 40px;}
	.bookIndexTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.bookIndexTitle h3 {font-size: 20px;  font-family: 'Nanum Gothic', sans-serif;}
	.bookIndexText {width: 100%; padding-left: 15px; line-height: 24px; font-size:14px; padding-top: 20px; letter-spacing: -1px;}
	.bookIndexText ul li:last-of-type {padding-top: 30px;}

	/* 본문 중에서 */


	.subBookInfoBox:nth-child(5) {width: 100%; height: 1000px; background-color: transparent; margin-top: 40px;}
	.subBookInfoBox:nth-child(5) span {display: inline-block; font-size: 13px; margin-top: 5px; float: right; padding-right: 25px;}
	.subBookInfoBox:nth-child(5) span a {color: #666;}
	.subBookInfoBox:nth-child(5) span i {padding: 0 5px; color: #ef544d;}
	.subBookInfoBox:nth-child(5) span:last-of-type {display: none;}
	.innerBookTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.innerBookTitle h3 {font-size: 20px;  font-family: 'Nanum Gothic', sans-serif;}

	.innerBookText {width: 100%; padding-left: 15px; font-size:14px; padding-top: 20px; letter-spacing: -1px; line-height: 30px;}






	/* 저자소개 */

	.subBookInfoMadeBy {width: 100%; height: 950px; background: transparent; margin-top: 40px;}
	.subBookInfoMadeByTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px;}
	.subBookInfoMadeByTitle h3 {font-size: 20px;  font-family: 'Nanum Gothic', sans-serif;}

	.subBookInfoMadeByWriter {width: 100%; height: 25%; display: flex; padding: 20px 0; letter-spacing: -1px;}
	.subBookInfoMadeByWriterImg {width: 20%; height: 100%; border: 1px solid #ccc}
	.subBookInfoMadeByWriterImg img {width: 100%; height: 100%;}

	.subBookInfoMadeByWriterText {width: 80%; height: 100%; padding-left: 30px; }
	.nameOfWriter {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 20%; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 0 35px;}
	.nameOfWriter p {font-weight: bold; font-family: 'Nanum Gothic', sans-serif;}
	.nameOfWriter span {font-size:12px; padding: 0 10px; font-weight: lighter;}
	.nameOfWriter span:hover {text-decoration: underline;}
	.nameOfWriter span a {color: #999;}

	.infoOfWirter {width: 100%; height: 100%; display: flex; padding: 20px 0; letter-spacing: -1px;}
	.infoOfWirterLeft {width: 30%; height: 100%; display: flex; flex-direction: row; justify-content: space-around; line-height: 32px; font-size: 13px; color: #666;}
	.infoOfWirterLeft ul:last-child {float: right;}
	.infoOfWirterRight {width: 70%; line-height: 25px; font-size: 13px; color: #666; padding-top: 15px;}


	.subBookInfoMadeByAnother {width: 100%; height: 40%; background: transparent; border: 1px solid #ccc;}
	.subBookInfoMadeByAnotherTitle {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 40px; border-bottom: 1px solid #ccc; padding: 0 35px; font-size: 14px; letter-spacing: -1px;}
	.subBookInfoMadeByAnotherTitle h5 {font-family: 'Nanum Gothic', sans-serif; font-size: 16px;}
	.subBookInfoMadeByAnotherTitle span  {font-size: 12px; padding: 0 5px; font-weight: lighter; float: right;}
	.subBookInfoMadeByAnotherTitle span:hover {text-decoration: underline;}
	.subBookInfoMadeByAnotherTitle span a {color: #999;}

	.subBookInfoMadeByAnotherContents {width: 100%; height: 100%; background: transparent; font-family: 'Nanum Gothic', sans-serif; letter-spacing: -1px;} 
	.subBookInfoMadeByAnotherContents ul {width: 100%; height: 100%; display: flex; justify-content: space-around;}
	.subBookInfoMadeByAnotherContents ul li {width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
	.subBookInfoMadeByAnotherContents ul li img {width: 118px; height: 176px; box-shadow: 4px 4px 4px #ddd;}
	.subBookInfoMadeByAnotherContents ul li a h5 {font-size: 14px; font-weight: bold; padding: 15px 0; color:#555;}
	.subBookInfoMadeByAnotherContents ul li p {padding: 10px 0; font-size: 13px; color: #e5716a; font-weight: bold;}
	.subBookInfoMadeByAnotherContents ul li p del {color: #999; padding: 0 5px;}

	/* 작가 인터뷰, 연관기사 */

	.subBookInfoMadeByInterview {width: 100%; height: 35%; background: transparent; border-bottom: 1px solid #ccc; padding-top: 40px;}

	.subBookInfoMadeByInterviewTitle {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 40px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 0 35px; font-size: 14px; letter-spacing: -1px;}
	.subBookInfoMadeByInterviewTitle h5 {font-family: 'Nanum Gothic', sans-serif; font-size: 16px;}
	.subBookInfoMadeByInterviewTitle span  {font-size: 12px; padding: 0 5px; font-weight: lighter; float: right;}
	.subBookInfoMadeByInterviewTitle span:hover {text-decoration: underline;}
	.subBookInfoMadeByInterviewTitle span a {color: #999;}

	.interviewBoxWrap {width: 100%; height: 80%; display: flex; justify-content: space-between; letter-spacing: -1px;}
	.interviewBox {width: 48%; height: 100%; background: transparent; display: flex; flex-direction: column; padding-top: 20px;}
	.interviewBoxTop {width: 100%; height: 20%; display: flex; justify-content: space-between; margin-top: 10px;}
	.interviewBoxTop p {font-size: 14px; color: #666; font-weight: bold;}
	.interviewBoxTop span  {font-size: 12px; padding: 0 5px; font-weight: lighter; letter-spacing: 0px;}
	.interviewBoxBot {width: 100%; height: 80%; display: flex; justify-content: space-between;}
	.interviewBoxBotImg {width: 38%; height: 100%;}
	.interviewBoxBotImg img {width: 100%; height: 100%; cursor: pointer;}
	.interviewBoxBotText {width: 58%; height: 100%; font-size: 13px;}
	.interviewBoxBotText h6 {padding-bottom: 15px;}
	.interviewBoxBotText p a {line-height: 20px; color: #666;}
	.interviewBoxBotText p a:hover {text-decoration: underline;}





	/* 상품정보제공고시 */

	.aboutBookDetail {width: 100%; height: 240px; background: transparent; margin-top: 120px;}
	.aboutBookDetailTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; }
	.aboutBookDetailTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif; }
	.aboutBookDetailText {width: 100%; height: 80%; background: transparent; display: flex; align-items: center; margin-top: 20px;}
	.aboutBookDetailBox {width: 100%; height: 100%; background: transparent; border-collapse : collapse; color: #555; font-size: 13px;}

	.aboutBookDetailBox tr {width: 100%; height: 25%; background: transparent; border : 1px solid #eee;}
	.aboutBookDetailBox tr th {width: 200px; border: inherit; background-color: #f6f6f6; padding: 8px 0 10px 20px; border-right: 1px solid #eee; text-align: left; font-weight: lighter;}
	.aboutBookDetailBox tr td {width: 300px; border: inherit; padding: 8px 0 10px 20px;}



	/* 이벤트 기획전 */

	.subBookEvent {width: 100%; height: 800px; background: transparent; margin: 80px auto;}
	.subBookEventTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; }
	.subBookEventTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}

	.subBookEventContents {width: 100%; height: 100%; display: flex; justify-content: space-between; background: transparent; flex-wrap: wrap; align-content: space-between; padding-top: 50px; padding-bottom: 30px;}
	.subBookEventBox {width: 48%; height: 30%; background: transparent; display: flex; flex-direction: column;}
	.subBookEventBoxTitle {width: 100%; height: 15%; border-bottom: 1px solid #ccc; padding-left: 15px;}
	.subBookEventBoxTitle a {color: #666; font-family: 'Nanum Gothic', sans-serif;}
	.subBookEventBoxTitle a:hover {color: #222;}
	.subBookEventBoxImg {width: 100%; height: 40%; display: flex; justify-content: flex-start; padding-top: 30px; padding-left: 15px;}
	.subBookEventBoxImg img {width: 190px; height: 70px;}
	.subBookEventBoxImg p {line-height: 24px; font-size: 12px; padding-left: 35px; }
	.subBookEventBoxImg span {background-color: #58cfc7; border-radius: 15px; padding: 0 5px; font-size: 12px; color: #fff;}
	.subBookEventBoxText {padding: 40px 15px; height: 30%; font-size: 14px; line-height: 18px; letter-spacing: -0.5px;}
	.subBookEventBoxText p:nth-child(2) {margin-top: 15px;}


	/* 조회 top 책, 구매 top 책, 연관분야 top */

	.subBookRelated {width: 100%; height: 1000px; background: transparent; margin: 100px auto; display: flex; flex-direction: column; justify-content: space-between;}
	.subBookRelatedMost {width: 100%; height: 30%; background: transparent; overflow: hidden; position: relative;}
	.subBookRelatedMostTitle {width: 100%; border-bottom: 1px solid #ccc; padding-bottom: 20px; font-family: 'Nanum Gothic', sans-serif; color: #555; padding-left: 15px;}

	.subBookRelatedMost .fprev { position: absolute;
	top: 70%;
	transform: translateY(-50%);
	font-size: 38px;
	color: #c8c8c8;
	font-weight: normal;
	cursor: pointer;
	left:0; 
	border-radius: 0 10px 10px 0px; 
	padding:110px 10px;
	z-index: 1;
	display: inline-block;
	background-color: #fff;
	height: 340px;

	}

	.subBookRelatedMost .fnext {   position: absolute;
	top: 70%;
	transform: translateY(-50%);
	font-size: 38px;
	color: #c8c8c8;
	font-weight: normal;
	cursor: pointer;
	right: 0; 
	border-radius: 10px 0 0 10px; 
	padding:110px 10px;
	z-index: 1;
	right: 0;
	display: inline-block;
	align-items: center; background-color: #fff;
	height: 340px;
	}



	/* 조회 top 책, 구매 top 책, 연관분야 top 슬라이드 wrap */



	.relatedMostListWrap {width: 2300px; height: 100%; background: transparent; display: flex; overflow: hidden; position: relative;}
	.subBookRelatedMostList {width: 1200px; height: 100%; background: transparent; display: flex; justify-content: space-evenly;}
	.subBookRelatedMostList li {width: 230px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}

	.subBookRelatedMostList li img {width: 100%; height: 170px; box-shadow: 4px 4px 4px #ddd;}
	.subBookRelatedMostList li a {color: #777;}
	.subBookRelatedMostList li a h5 {font-size: 13px; margin-top: 10px; padding-top: 10px; width: 130px; text-align: center; letter-spacing: -1px;}

	/* 사용자 리뷰 */

	.subBookReview {width: 100%; height: 2100px; background: transparent; margin-top: 120px;}

	.longComment {width: 100%; height: 80%; background: transparent;}

	.longCommentTitle {display: flex; justify-content: space-between; align-items: center; width: 100%; border-bottom: 1px solid #555; padding-left: 15px; padding-top: 25px; padding-bottom: 20px; letter-spacing: -1px;}
	.longCommentTitle h3 {font-family: 'Nanum Gothic', sans-serif; font-size: 20px; word-spacing: 5px;}
	.longCommentTitle h3 i {color: gold; font-size: 16px;}
	.longCommentTitle span {font-size:14px; padding: 0 10px; font-weight: lighter;}
	.longCommentTitle span a {color: #999;}
	.longCommentTitle p {float: right; font-size: 13px; color: #ef544d;}
	.longCommentTitle p button {line-height: 24px; width: 100px; margin-right: 20px; position: relative; left: 20px; background-color: #df322d; border: 0; cursor: pointer; padding: 5px 10px;
	text-transform: capitalize; color: #fff; z-index: 1; position: relative;transition: 400ms ease all;}
	.longCommentTitle p button:hover{background: #101010; color: #fff;}

	.longCommentContents {width: 100%; height: 100%; background: transparent;}
	.longCommentContentsTop {width: 100%; height: 40px; display: flex; justify-content: flex-end; align-items: center; }
	.longCommentContentsTop li {padding: 0 5px; font-size: 14px; color: #555;} 
	.longCommentContentsTop li:first-of-type {font-weight: bold;}
	.longCommentContentsTop li:not(:nth-of-type(2)) {cursor: pointer;}

	.longCommentContentsBot {width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-between;}
	.longCommentContentsBot li {width: 100%; height: 33.3%;}
	.reviewTitleBox {width: 100%; height: 10%; display: flex; justify-content: space-between; padding-top: 20px; border-top: 1px solid #ccc;}
	.reviewTitleBox h4 {font-size: 16px; font-family: 'Nanum Gothic', sans-serif; }
	.reviewTitleBox i {font-size: 12px; color: gold;}
	.reviewTitleBox p {font-size: 12px; color: #666; word-spacing: 5px;}
	.reviewContentsBox {width: 1150px; height: 80%; letter-spacing: 0px; font-size: 14px; line-height: 18px; padding: 50px 0; }
	.reviewCheckBox {width: 100%; height: 10%; letter-spacing: -1px; font-size: 14px; cursor: pointer;}
	.reviewCheckBox p {word-spacing: 5px; color: #888;}
	.reviewCheckBox p button {cursor: pointer;}
	.reviewCheckBox p button:first-of-type {background-color: #999; border: none; color: #fff; transition: 300ms all ease;}
	.reviewCheckBox p button:first-of-type:hover { background-color: gold; color: #666;}
	.reviewCheckBox p button:last-of-type {background-color: #ef544d; border: none; color: #fff; transition: 300ms all ease;}
	.reviewCheckBox p button:last-of-type:hover {background-color: #333;}
	.reviewCheckBox span {display: inline-block; float: right; padding-bottom: 20px; cursor: pointer; color: #666;}
	.reviewCheckBox span:hover {text-decoration: underline;}
	.reviewCheckBox span i {padding: 0 5px; color: #ef544d;}


	/* 기대평 */

	.shortComment {width: 100%; height: 20%; background: transparent; margin-top: 40px; margin-bottom: 120px;}
	.shortCommentTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; }
	.shortCommentTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}
	.shortCommentTitle span {float: right; font-size: 14px; letter-spacing: -1px; color: #666;}
	.shortCommentTitle span:hover {font-weight: bold; cursor: pointer;}
	.shortCommentTitle span i {padding: 0 5px;}

	.shortCommentContents {width: 100%; height: 100%; padding: 20px 0;}
	.textAreaBox {width: 1150px; height: 40%; background: transparent; background: #eee; padding-left: 15px;}
	.textAreaBox input[name=commentSelect] {margin:0 10px;}
	.textAreaBox p {padding: 20px 0; word-spacing: 10px; font-size: 14px;}
	.textAreaBox p span {padding-left: 60px; display: inline-block; word-spacing: 10px; color: #999; font-size: 14px;}
	.textAreaBox p span i {color: #888; position: relative; left: 10px;}
	.textAreaBox textarea {
	    float: left;
	    color: #999;
	    width: 900px;
	    height: 60px;
	    padding: 8px;
	    margin: 0 auto;
	    resize: none;
	    border: none;
	    overflow-y: scroll;
	    border-top: 1px solid #999;
	    border-left: 1px solid #999;
	    border-bottom: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	}

	.submitBox {width: 100%; height: 60%; background: transparent; margin:60px auto;}
	.submitBoxTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; }
	.submitBoxTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}
	.submitBoxTitle h3 i {font-size: 16px; position: relative; left: 10px;}
	.submitBoxTitle h3 span {font-size: 18px; display: inline-block; position: relative; left: 20px;}
	.submitBoxTitle ul {float: right; display: flex;}
	.submitBoxTitle ul li {padding: 0 5px; font-size: 12px;}
	.submitBoxTitle ul li:first-of-type {font-weight: bold; cursor: pointer;}
	.submitBoxTitle ul li:last-of-type {cursor: pointer;}

	.submitBoxComment {width: 1150px; height: 100%; display: flex; position: relative; border-collapse: collapse;}
	.submitBoxComment tr {width: 100%; height: 20%; display: flex; align-items: center; padding-left: 15px; position: relative;}
	.submitBoxComment tr:nth-child(2) th td {padding-left: 10px; margin: 0;}
	.submitBoxComment th {font-size: 12px; padding-right: 20px;}
	.submitBoxComment td { font-size: 14px;}
	.submitBoxComment td p {padding-left: 20px;}
	.submitBoxComment tr:not(:last-child) td:last-child {position: absolute; left: 1060px;}

	/* 페이지 순서 이동 */

	.submitBoxComment tr:last-child {width: 1150px; position: absolute; background: #eee; display: flex; justify-content: center; border-top: 1px solid #666; padding: 0;}
	.submitBoxComment ul {width: 100%; height: 100%; display: flex;}
	.submitBoxComment ul li {padding: 0 15px; border-left: 1px solid #ccc; cursor: pointer;}
	.submitBoxComment ul li:nth-child(3) {font-weight: bold;}
	.submitBoxComment ul li:nth-of-type(-n+2) {border: none;}
	.submitBoxComment ul li:nth-last-child(1) {border: none;}

	/* 교환/환불/배송 */

	.subBookDelivery {width: 100%; height: 900px; background: transparent; margin:140px 0 80px 0;}
	.subBookRefund {width: 100%; height: 50%; background: transparent;}
	.refundTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; padding-top: 40px;}
	.refundTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}

	/* 교환,환불 테이블 */

	.subBookRefund > .refundText {width: 100%; height: 100%; letter-spacing: -1px; padding-top: 20px;}
	.refundText table {width: 100%; height: auto; background: transparent; border-collapse : collapse; color: #555; font-size: 13px; color: #666;}

	.refundText table tr {width: 100%; height: auto; background:transparent ; border : 1px solid #eee; line-height: 18px;}
	.refundText table tr th {width: 20%;  border: inherit; background-color: #f6f6f6; padding: 20px 0 10px 20px; border-right: 1px solid #eee; text-align: left; font-weight: lighter;}
	.refundText table tr td {width: 80%;  border: inherit; padding: 20px 0 10px 20px;}


	.subBookDeliveryInfo {width: 100%; height: 50%; background: transparent;}

	.deliveryInfoTitle {width: 100%; border-bottom: 1px solid #555; padding-bottom: 20px; padding-left: 15px; padding-top: 40px;}
	.deliveryInfoTitle h3 {font-size: 20px; font-family: 'Nanum Gothic', sans-serif;}

	.deliveryInfoText {width: 100%; height: 100%; letter-spacing: -1px; padding-top: 20px;}
	.deliveryInfoText p {font-size: 13px; padding-left: 15px;}
	.deliveryInfoText table {width: 100%; height: auto; background: transparent; border-collapse : collapse; color: #555; font-size: 13px; color: #666; margin-top: 25px;}

	.deliveryInfoText table tr {width: 100%; height: auto; background:transparent ; border : 1px solid #eee; line-height: 15px;}
	.deliveryInfoText table tr th {width: 20%;  border: inherit; background-color: #f6f6f6; padding: 20px 0 10px 20px; border-right: 1px solid #eee; text-align: left; font-weight: lighter;}
	.deliveryInfoText table tr td {width: 80%;  border: inherit; padding: 20px 0 10px 20px;}












